
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
*.log

# Environments
env/
venv/
ENV/
VENV/
.venv/
.ENV/

# VSCode and other IDEs
.vscode/
.idea/

# # Django
# db.sqlite3
# *.sqlite3
# media/
# staticfiles/
# local_settings.py
# *.bak

# Git
*.swp
*~
.DS_Store
Thumbs.db

# Pip
pip-log.txt

# Test files
.coverage
htmlcov/
.tox/
.nox/
.cache/
.pytest_cache/
